%section.ten-oh-announcement
  .ten-oh-label
    %span 13.1
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 13.1 released with Alert Management, Code Quality enhancements, Security & Compliance improvements, and much more!

      .btn-group
        = link_to "/releases/2020/06/22/gitlab-13-1-released/index.html", class: "btn cta-btn btn-white margin-top20 hero-cta hero-release-link" do
          See what’s new
